/* 標頭 */
header {
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

.container-fluid {
  width: 90%;
}

.large-font {
  font-size: 40px;
}

/* 題目 */
.medium-font {
  font-size: 25px;
}

/* 回答 */
.small-font {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

/* 確保隔行\n與空格 */
.json-content {
  white-space: pre-wrap;
  overflow-x: auto;
}